body{
    width:auto;
}
#main-doc{
    display: flex;
    flex-direction: row;
}
#navigation{ 
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.nav-link h4,a{
    text-decoration: none;
    color: black;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: gainsboro;
      font-size: smaller;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  }
